concurrency:
  cancel-in-progress: false

  group: Release Docs
jobs:
  get_old_docs:
    runs-on: ubuntu-latest
    steps:
      - continue-on-error: true

        name: get the gh-pages repo
        uses: actions/checkout@v3
        with:
          ref: gh-pages
      - name: tar the existing docs
        run: |
          mkdir -p ./docs/generated
          tar -cvf old-docs.tar ./docs/generated

      - name: create a document artifact
        uses: actions/upload-artifact@v3
        with:
          name: old-docs
          path: old-docs.tar

  update_and_deploy_docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: get_old_docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout src
        uses: actions/checkout@v3

      - uses: ./.github/actions/prepare

      - run: mkdir -p ./docs/generated
      - name: Download the existing documents artifact
        uses: actions/download-artifact@v3
        with:
          name: old-docs

      - run: tar -xf old-docs.tar ./docs/generated -C ./docs/generated

      - name: Build docs
        run: pnpm run docs

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./docs/generated

      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2

      - run: 'echo "PACKAGE_VERSION=$(cat package.json | grep version | head -1 | awk -F: ''{ print $2 }'' | sed ''s/[", ]//g'')" >> $GITHUB_ENV'
      - name: Update Coverage Badge
        run: cp ./docs/generated/v$PACKAGE_VERSION/coverage.svg ./docs/coverage.svg

      - id: coverage_changed
        run: echo "coverage_changed=$(git status --porcelain -u | grep -c docs/coverage.svg)" >> "$GITHUB_OUTPUT"

      - env:
          COVERAGE_CHANGED: ${{ steps.coverage_changed.outputs.coverage_changed }}
          UP_TO_DATE: ${{ github.ref == 'refs/heads/main' }}
        id: push_coverage
        run: echo "push_coverage=$(if [[ "$COVERAGE_CHANGED" != '0' && "$UP_TO_DATE" == "true" ]] ; then echo '1' ; else echo '0' ; fi)" >> "$GITHUB_OUTPUT"

      - if: steps.push_coverage.outputs.push_coverage != '0'
        uses: ./.github/actions/unprotect-main
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - if: steps.push_coverage.outputs.push_coverage != '0'
        run: |
          git add docs/coverage.svg
          git commit -m "docs: updated documentation coverage"
          git push

      - if: ${{ always() && steps.push_coverage.outputs.push_coverage != '0' }}
        uses: ./.github/actions/protect-main
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

          name: Release Docs

on:
  workflow_call: ~
  workflow_dispatch: ~

permissions:
  contents: write
  id-token: write
  pages: write
